langchain
python-dotenv
ipykernel
langchain_community
pypdf
beautifulsoup4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
langchain-core
langchain-anthropic
openai
langchain-google-genai
google-generativeai
transformers
huggingface-hub
numpy
scikit-learn
streamlit
torch 
torchvision
pydantic
pydantic[email]
langchain-ollama
langchain-classic